llama-index
llama-index-core
llama-index-readers-file
llama-index-llms-nvidia
llama-index-embeddings-nvidia
llama-index-postprocessor-nvidia-rerank
torch
torchvision
torchaudio
python-dotenv
ipywidgets
llama-parse
requests
pyRDDLGym
streamlit
